/*
--------------------
Mobil First
--------------------
 */

body {
  font-family: Inter;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1rem;
  color: #323333;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  /* -webkit-tap-highlight-color: #4c4dab; */
}
body.index {
  overflow-y: hidden;
}

h1,
h2 {
  color: #323333 !important;
}

h1 {
  margin: 40px 20px;
}

h2 {
  font-weight: 500;
  font-size: 14px;
  line-height: 26px;
  font-style: italic;
  text-transform: uppercase;
  margin-top: 40px;
  margin-left: 20px;
}

p {
  font-size: 16px;
  line-height: 28px;
  margin: 20px;
}

b {
  font-weight: 600 !important;
}

nav {
  background-color: #fff;
}

a {
  color: #4c4dab;
}

li {
  margin-bottom: 20px;
}

/* -- Navigation --  */
.navbar {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-transform: uppercase !important;
  font-size: 0.875rem;
  border-bottom: 1px solid #e5cedc;
}
.navbar > .container,
.navbar > .container-fluid,
.navbar > .container-sm,
.navbar > .container-md,
.navbar > .container-lg,
.navbar > .container-xl,
.navbar > .container-xxl {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}
.navbar-brand {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 10px;
  white-space: nowrap;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav-item {
  padding-left: 60px !important;
}
.inline {
  display: inline;
}

.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}

.navbar-nav .dropdown-menu {
  position: static;
}

.navbar-text {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: box-shadow 0.15s ease-in-out;
}
.dropdown-toggle {
  padding-left: 0px;
  padding-right: 15px;
}

.navbar-expand {
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.navbar-expand .navbar-nav {
  flex-direction: row;
}
.navbar-expand .navbar-nav .dropdown-menu {
  position: absolute;
}
.navbar-expand .navbar-nav .nav-link {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
.navbar-expand .navbar-nav-scroll {
  overflow: visible;
}
.navbar-expand .navbar-collapse {
  display: flex !important;
  flex-basis: auto;
}
.navbar-expand .navbar-toggler {
  display: none;
}

.navbar-light {
  color: #323333;
}
.navbar-light .navbar-nav .nav-link {
  color: #323333;
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
  color: #323333;
}
.navbar-light .navbar-nav .nav-link.disabled {
  color: #323333;
}
.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .nav-link.active {
  color: #4c4dab;
}
.navbar-light .navbar-toggler {
  color: #323333;
  border-color: #323333;
}
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-light .navbar-text {
  color: #323333;
}
.navbar-light .navbar-text a,
.navbar-light .navbar-text a:hover,
.navbar-light .navbar-text a:focus {
  color: #323333;
}

.navbar-icon {
  display: none;
}
.secondary-navbar {
  display: none;
}

/* -- containers--  */
.header {
  width: 100%;
  height: 56px;
  background: #fff;
  position: fixed;
  margin: 0px;
  padding: 0px;
  top: 85px;
}

.main {
  position: absolute;
  top: 120px;
}
.masthead {
  background: url("../img/harli-marten-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: fixed;
  left: 0%;
  right: 0%;
  top: 12%;
  bottom: 6%;
  width: 100%;
}
.eslogan {
  border-radius: 5px;
  padding-top: 50px;
  padding-left: 48px;
  position: absolute;
  width: 1061px;
  height: 172px;
  top: 27px;
}
.container-cards {
  margin-bottom: 150px !important;
}
.circle-img-menu {
  position: static;
}
.banner {
  position: static;
  bottom: 0px;
}
/* -- grids--  */
.col-sm-8 {
  height: 1300px;
}
.col-3 {
  width: 50%;
}

/* -- components --  */

.breadcrumb {
  margin: 20px;
  line-height: 24px;
}
.card {
  box-shadow: inset 0px 4px 10px rgba(241, 244, 245, 0.05);
  filter: drop-shadow(0px 4px 20px rgba(50, 51, 51, 0.05));
  border-radius: 8px !important;
  height: 375px;
  margin: 15px 0px 15px 60px;
}
.cookiealert {
  position: fixed;
  bottom: 10%;
  left: 0;
  width: 100%;
  height: auto;
  margin: 0 !important;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  border-radius: 0;
  transform: translateY(100%);
  transition: all 500ms ease-out;
  color: #323333;
  background: #7f8182;
  line-height: 28px;
}
.cookiealert.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0%);
  transition-delay: 1000ms;
}
.cookiealert .acceptcookies {
  margin-left: 10px;
  vertical-align: baseline;
}

/* -- text --  */
.masthead h1 {
  position: absolute;
  left: 15px;
  top: -20px;
  font-weight: 400 !important;
  font-size: 1.5rem !important;
  line-height: 45px !important;
  color: #f1f4f5;
  margin: 30px 0px !important;
  text-align: center;

}
.txt-primary {
  width: 100%;
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 20px !important;
  text-transform: uppercase !important;
  color: #4c4dab !important;
  padding: 20px;
  margin-left: 0px;
  background: #f1f4f5;
  box-shadow: 0px 4px 15px rgba(50, 51, 51, 0.2);
}

.masthead h2 {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem !important;
  line-height: 36px !important;
  color: #f1f4f5;
  text-transform: uppercase;
  text-align: left;
}
.card-title {
  margin: 10px 0px !important;
  font-weight: 500;
  font-size: 1rem;
  line-height: 30px;
  text-transform: uppercase;
}
.card-text {
  margin: 10px 0px !important;
  font-size: 14px !important;
  line-height: 18px !important;
}
.subtitulo-encuesta {
  margin-top: 20px !important;
  margin-left: 0px !important;
  border: 1px solid #4d4f4f;
  border-style: hidden hidden solid hidden;
}
.mt-2 {
  line-height: 28px;
}
.list-style,
.circle-bullet {
  line-height: 32px;
  padding-left: 30px;
}
}
.circle-bullet {
  list-style-type: circle;
}

/* -- buttons --  */
.CTA-btn {
  position: absolute;
  top: 60%;
  left: 6px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.btn-primary {
  background-color: #4c4dab !important;
  border: #4c4dab !important;
  border-radius: 8px;
  margin: 10px;
  padding: 16px 25px 25px 25px !important;
  width: 300px;
  height: 60px;
  filter: drop-shadow(0px 4px 15px rgba(77, 79, 79, 0.2));
}
.btn-primary:hover {
  background-color: #fddc22 !important;
  color: #4c4dab;
}
#myBtn {
  display: none;
  position: fixed;
  left: 340px;
  top: 550px;
  width: 37.01px;
  height: 40px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #4c4dab;
  cursor: pointer;
  border-radius: 4px;
}
.btn-cookies {
  background-color: #4c4dab !important;
  color: #ecf0f1;
  border: #4c4dab !important;
  border-radius: 8px;
  margin-top: 10px;
  padding: 10px 20px;
  width: auto;
  height: auto;
  filter: drop-shadow(0px 4px 15px rgba(77, 79, 79, 0.2));
}
.card-btn {
  margin: 10px 0px 10px 7px !important;
  width: 150px !important;
  height: 34.5px !important;
  padding: 4px 0px 2px 0px !important;
  font-size: 1rem !important;
}

/* -- links --  */
.volver {
  margin: 50px 20px;
  color: #4c4dab;
}
.cookiealert a {
  text-decoration: underline;
}

/*  --  images -- */
.card-img-top {
  margin: 0px !important;
  padding: 0px !important;
  height: 135px;
}
.bannerTertiary {
  margin-top: 50px;
  margin-bottom: 100px;
}
.circle-img {
  width: 150px;
  height: 150px;
  text-align: center;
  color: #323333;
  margin: 20px 0px;
  position: relative;
  top: 0;
  left: 0;
}
.overlay {
  position: absolute;
  left: 87px;
  top: 62%;
  height: 100px;
  width: 153px;
  transform: translate(-50%, -50%);
  border-radius: 0 0 150px 150px;
  background: rgba(76, 77, 171, 0.6);
  clip-path: polygon(0 48%, 100% 48%, 100% 79%, 75% 91%, 24% 91%, 0 75%);
  padding-top: 60px;
  font-size: 13px;
  text-transform: uppercase;
  color: white;
  text-align: center;
}

.work-in-progress-s {
  width: 100%;
  border-radius: 8px;
}
.work-in-progress-m {
  display: none;
}

/* -- Icons --  */
.icon {
  color: #323333;
  stroke-width: 1.5px;
  padding: 3px;
  border: 1.5px solid #323333;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 30%;
}
.share-2 {
  margin-left: 30px;
}
.chevron-up {
  border: none;
  margin: 3px 3px;
  top: 0px;
  left: 0px;
  color: #fff;
}

/*  --  footer -- */
.footer {
  background-color: #323333;
  color: #f1f4f5;
  bottom: 0px;
  width: 100%;
  height: 10%;
  line-height: 30px;
}
.footer span {
  float: left;
  width: 100%;
  text-align: center;
  margin-top: 5px;
}
.footer a {
  color: #f1f4f5;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.footer a:hover {
  color: #fddc22;
}
.footer a:visited {
  color: #007bff;
}
.footer-menu ul {
  text-align: center;
  padding: 0px;
}
.footer-menu li {
  display: inline-block;
}

/* 
--------------------
MediaQuery
-------------------- 
*/

/*  tablet */
@media (min-width: 576px) {
  h1,
  h2 {
    color: #f1f4f5 !important;
  }
  .main {
    left: 25px;
  }
  .masthead {
    top: 8.19%;
    bottom: 4.91%;
    left: 6px;
    width: 100%;
  }
  .masthead h1 {
    position: absolute;
    left: 17.09%;
    right: 17.19%;
    top: 8%;
    font-weight: 600 !important;
    font-size: 2rem !important;
    line-height: 45px !important;
    /* text-align: left !important; */
  }
  .eslogan {
    background: rgba(50, 51, 51, 0.3);
    position: absolute;
    width: 650px;
    height: 265px;
    line-height: 150px;
    top: 30%;
  }
  .masthead h2 {
    font-weight: 400;
    font-size: 1.5rem !important;
    line-height: 40px !important;
    padding: 0px;
    margin: 0px;
  }
  .CTA-btn {
    position: absolute;
    top: 70%;
    margin: 0px;
    left: 40px;
  }
  .btn-primary {
    width: 300px;
    height: 75px;
    font-size: 1.125rem;
  }
  #myBtn {
    left: 720px;
    top: 875px;
  }
  .main h1,
  .main h2,
  .main p {
    color: #323333 !important;
  }

  .col-sm-8 {
    width: 100%;
    height: 475px;
  }
  .container-cards {
    margin: 0px;
  }
  .card {
    margin: 0px;
  }

  .footer span {
    text-align: left;
    margin-top: 25px;
  }
  .footer-menu ul {
    text-align: right;
    margin-top: 25px;
  }
}

/*  laptop */
@media (min-width: 1200px) {
  /* -- Navigation --  */
  .navbar-icon {
    display: inline-flex !important;
  }
  .dropdown-toggle,
  .hide {
    display: none;
  }
  .secondary-navbar {
    display: inline-flex !important;
    position: absolute;
    right: 200px;
    margin-top: 10px;
  }

  /* -- containers--  */
  .main {
    position: absolute;
    top: 50px;
    left: 120px;
  }
  .header {
    height: 75px;
  }
  .masthead {
    left: 0px;
    top: 8.19%;
    bottom: 4.91%;
    width: 100%;
  }
  .eslogan {
    position: absolute;
    width: 900px;
    height: 150px;
    top: 30%;
    line-height: 100px !important;
  }
  .container-bn3 {
    position: absolute;
    left: 0px;
    margin: 0px;
    height: 350px;
  }
  .section {
    margin-top: 100px;
  }

  /* -- grids--  */
  .col-sm-8 {
    height: auto !important;
    width: 66.6%;
  }
  .col-sm-4 {
    width: 33.3%;
  }
  .col-3 {
    width: 25%;
  }

  /* -- components--  */
  .margin-estudio {
    margin-top: 7px;
  }
  /* .breadcrumb {
    margin: 20px 0px;
    position: absolute;
  } */
  .breadcrumb-item {
    font-size: 0.875rem;
  }
  .intro {
    margin: 50px 20px !important;
  }
  .card {
    margin: 0px;
  }

  /* -- text --  */
  .masthead h1 {
    position: absolute;
    /* left: 25%; */
    right: 17.19%;
    top: 8%;
    font-weight: 600 !important;
    font-size: 1.75rem !important;
  }
  .masthead h2 {
    display: inline-block;
    font-weight: 400;
    font-size: 1.125rem !important;
    line-height: 1.5 !important;
    padding: 0px;
    margin: 0px;
  }
  .txt-primary {
    background: none;
    box-shadow: none;
    font-size: 20px !important;
    line-height: 36px !important;
    margin: 20px 0px !important;
  }
  .main h1 {
    color: #323333 !important;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin: 50px 20px 20px 20px;
  }
  .main h2 {
    font-weight: 500;
    font-size: 1rem;
    line-height: 30px;
    text-transform: uppercase;
    font-style: normal !important;
    font-weight: bold;
    margin: 75px 20px 20px 20px;
  }
  .main p,
  .list-style,
  .circle-bullet {
    color: #323333 !important;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    margin: 30px;
  }
  .cookies li{
   margin-left: 30px;
   font-weight: normal;
   font-size: 18px;
   line-height: 28px;
  }
  #objetivos{
    margin-top: 0px !important;
  }

  /* -- buttons--  */
  .CTA-btn-container {
    position: absolute;
    top: 65%;
  }
  .CTA-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    left: -20px;
  }
  .btn-primary {
    background-color: #4c4dab !important;
    border: #4c4dab !important;
    border-radius: 8px;
    padding: 15px 25px 25px 25px !important;
    width: 225px;
    height: 60px;
    filter: drop-shadow(0px 4px 15px rgba(77, 79, 79, 0.2));
    font-size: 1.125rem;
  }
  .familias {
    float: right;
  }
  .profesionales {
    float: left;
  }
  #myBtn {
    left: 1150px !important;
    top: 675px !important;
  }
  #myBtn:hover {
    background-color: #fddc22;
  }
  .card-btn {
    margin: 10px 0px 10px 7px !important;
    width: 150px !important;
    height: 34.5px !important;
    padding: 4px 0px 2px 0px !important;
    font-size: 1rem !important;
  }

  /* -- links--  */
  .secondary-navbar a {
    color: #323333;
    text-transform: uppercase;
    font-size: 0.875rem;
  }

  .volver {
    color: #4c4dab;
  }

  /*  -- Images -- */
  .main img {
    display: block;
    width: 45%;
    margin-top: 50px;
    margin-bottom: 100px;
  }
  .circle-img {
    height: 150px !important;
    width: 150px !important;
    transform: translate(-50%, -50%);
    top: 20%;
    left: 50%;
  }
  .overlay {
    top: 48%;
    left: 50%;
    height: 80px;
    width: 153px;
    text-transform: uppercase;
    font-weight: 600;
    padding-top: 45px;

  }
  .bannerTertiary {
    margin-top: 0px !important;
    margin-bottom: 100px !important;
  }

  .work-in-progress-s {
    display: none !important;
  }
  .work-in-progress-m {
    width: 100% !important;
    height: 50% !important;
    margin: 0px auto 0px auto !important;
    padding: 0px;
    border-radius: 8px;
  }

  /* -- footer -- */
  .footer-menu ul {
    text-align: right;
    margin: 0;
  }
  .footer-menu li {
    display: inline-block;
    padding-top: 25px;
  }
}

/*  desktop */
@media (min-width: 1400px) {

  /* -- navigation--  */
  .dropdown-menu {
    position: absolute;
    right: 120px !important;
    display: none;
    min-width: 10rem;
    padding: 0px 0 !important;
    margin: 0 !important;
    color: #323333 !important;
    text-align: left;
    list-style: none;
    background-color: transparent !important;
    border: none !important;
  }

  .dropdown-item {
    font-size: 0.875rem;
  }
  .secondary-navbar {
    right: 550px;
  }
    /* -- containers--  */
  .main {
    left: 320px;
  }
    .eslogan {
    position: absolute;
    width: 1061px;
    height: 200px;
    top: 33%;
  }

    /* -- text--  */
  .masthead h1 {
    font-size: 2rem !important;
  }

  .masthead h2 {
    font-weight: 400;
    font-size: 1.25rem !important;
    line-height: 40px !important;
    padding-left: 30px;
  }
  .main p,
  .list-style,
  .circle-bullet {
    margin: 15px;
  }

  /* -- buttons -- */
    #myBtn {
    left: 1375px !important;
    top: 820px !important;
  }

/*  -- images --  */
.bannerTertiary {
    margin-top: 30px !important;
}

/*
--------------------
Navigation Bar
--------------------
 */

@media (prefers-reduced-motion: reduce) {
  .navbar-toggler {
    transition: none;
  }
}
.navbar-toggler:hover {
  text-decoration: none;
}
.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 0.25rem;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.navbar-nav-scroll {
  max-height: var(--bs-scroll-height, 75vh);
  overflow-y: auto;
}

@media (min-width: 576px) {
  .navbar-expand-sm {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .navbar-expand-sm .navbar-nav {
    flex-direction: row;
  }
  .navbar-expand-sm .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-expand-sm .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar-expand-sm .navbar-nav-scroll {
    overflow: visible;
  }
  .navbar-expand-sm .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
  .navbar-expand-sm .navbar-toggler {
    display: none;
  }
  .nav-item {
    padding-left: 0px !important;
  }
}
@media (min-width: 768px) {
  .navbar-expand-md {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .navbar-expand-md .navbar-nav {
    flex-direction: row;
  }
  .navbar-expand-md .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar-expand-md .navbar-nav-scroll {
    overflow: visible;
  }
  .navbar-expand-md .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
  .navbar-expand-md .navbar-toggler {
    display: none;
  }
}
@media (min-width: 992px) {
  .navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .navbar-expand-lg .navbar-nav {
    flex-direction: row;
  }
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar-expand-lg .navbar-nav-scroll {
    overflow: visible;
  }
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
  .navbar-expand-lg .navbar-toggler {
    display: none;
  }
}
@media (min-width: 1200px) {
  .navbar-expand-xl {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .navbar-expand-xl .navbar-nav {
    flex-direction: row;
  }
  .navbar-expand-xl .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-expand-xl .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar-expand-xl .navbar-nav-scroll {
    overflow: visible;
  }
  .navbar-expand-xl .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
  .navbar-expand-xl .navbar-toggler {
    display: none;
  }
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1040px;
  }
}

@media (min-width: 1400px) {
  .navbar-expand-xxl {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .navbar-expand-xxl .navbar-nav {
    flex-direction: row;
  }
  .navbar-expand-xxl .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-expand-xxl .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar-expand-xxl .navbar-nav-scroll {
    overflow: visible;
  }
  .navbar-expand-xxl .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
  .navbar-expand-xxl .navbar-toggler {
    display: none;
  }
}
